body {
	background-color: #060606;
    background-image: url(../img/background-pizza.jpg);
    background-repeat: no-repeat;
    background-size:cover;
	color: #fff;
	font-family: "Helvetica Neue", sans-serif;
    margin: 0;
}

#Banner{
    height: 76px;
    background-color: rgba(0, 0, 0, 5);
    padding: 30px 70px 30px 70px;
}

#Banner h1{
    float: left;
    margin: 0;
}

#Banner nav {
    top: 30px;
    float: right;
    position: relative;
}

#Banner nav ul li {
    display: inline-block;
    position: relative;
    width: 100px;
}

#Banner ul {
    margin: 0;
}

#Banner nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#Sabores h2 {
    text-align: center;
    line-height: 6;
    text-shadow: 2px 12px 10px #060606;
    text-transform: uppercase;
}

#Sabores table {
    background-color: #2a2a2a;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

#Sabores td,
#Sabores th {
    border: 1px #000 solid;
    font-size: 12px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
}

#Sabores .negativo {
    color: #fb3958;
}

#Sabores .positivo {
    color: #87b50f;
}
